[Unit]
Description= NodeJS app
ConditionPathExists=/home/centos/webapp
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/centos
EnvironmentFile=/home/centos/webapp/.env
ExecStart=/usr/bin/node /home/centos/webapp/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target